<nav class="navbar navbar-expand-lg navbar-light bg-light">
  &emsp;
  &emsp;
  &emsp;
  &emsp;
  &nbsp;
  &ensp;
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/96/Kellogg_School_of_Management.svg/1280px-Kellogg_School_of_Management.svg.png" height="40">
  &emsp;
  <a class="navbar-brand" href="/">Startup Recruiting Tool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/companies">Companies<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <% if current_user.blank? %>
        <li class="nav-item">
          <a href="/users/sign_in" class="nav-link">
            
            Sign in
            
          </a>
        </li>

        <li class="nav-item">
          <a href="/users/sign_up" class="nav-link">
            
            Sign up
            
          </a>
        </li>
      <% else %>
        <li class="nav-item">
          <a href="/users/edit" class="nav-link">
            
            <%= current_user.first + " " + current_user.last %>
            
          </a>
        </li>

        <li class="nav-item">
          <a href="/users/sign_out" data-method="delete" class="nav-link">
            
            Sign out
            
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
