<h1 color="blue">
  All companies
</h1>

<a href="/companies/new">
  Add a new company
</a>

<hr>
  
  <% @companies.each do |company| %>

    <div class="card border-secondary mb-3" style="max-width: 40rem;">
      <div class="card-header"><h2><%= company.name %></h2></div>
      <div class="card-body">
        <p class="card-text">
          <a href="<%= company.URL %>"><%= company.URL %></a>
        </p>
        <p class="card-text">
          Company Description: <%= company.description%>
        </p>
      </div>
    </div>
    

  <% end %>
</table>
